/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../app/styles/diestrin/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 5, ../../app/styles/diestrin/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 9, ../../app/styles/diestrin/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 14, ../../app/styles/diestrin/_normalize.scss */
[hidden] {
  display: none;
}

/* line 18, ../../app/styles/diestrin/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 24, ../../app/styles/diestrin/_normalize.scss */
body {
  margin: 0;
}

/* line 28, ../../app/styles/diestrin/_normalize.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 32, ../../app/styles/diestrin/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 35, ../../app/styles/diestrin/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 40, ../../app/styles/diestrin/_normalize.scss */
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 45, ../../app/styles/diestrin/_normalize.scss */
h1 {
  font-size: 2em;
}

/* line 49, ../../app/styles/diestrin/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 53, ../../app/styles/diestrin/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 57, ../../app/styles/diestrin/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 61, ../../app/styles/diestrin/_normalize.scss */
mark {
  background: yellow;
  color: black;
}

/* line 66, ../../app/styles/diestrin/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
  background-color: lightgray;
}

/* line 72, ../../app/styles/diestrin/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 78, ../../app/styles/diestrin/_normalize.scss */
em {
  text-decoration: underline;
  font-style: italic;
}

/* line 83, ../../app/styles/diestrin/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 87, ../../app/styles/diestrin/_normalize.scss */
small {
  font-size: 80%;
}

/* line 91, ../../app/styles/diestrin/_normalize.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 98, ../../app/styles/diestrin/_normalize.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 106, ../../app/styles/diestrin/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 110, ../../app/styles/diestrin/_normalize.scss */
img {
  border: 0;
}

/* line 114, ../../app/styles/diestrin/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 118, ../../app/styles/diestrin/_normalize.scss */
figure {
  margin: 0;
}

/* line 122, ../../app/styles/diestrin/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 128, ../../app/styles/diestrin/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 133, ../../app/styles/diestrin/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 139, ../../app/styles/diestrin/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 143, ../../app/styles/diestrin/_normalize.scss */
button, html input[type='button'] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 150, ../../app/styles/diestrin/_normalize.scss */
input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 156, ../../app/styles/diestrin/_normalize.scss */
button[disabled] {
  cursor: default;
}

/* line 161, ../../app/styles/diestrin/_normalize.scss */
input[disabled] {
  cursor: default;
}
/* line 166, ../../app/styles/diestrin/_normalize.scss */
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
/* line 171, ../../app/styles/diestrin/_normalize.scss */
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 177, ../../app/styles/diestrin/_normalize.scss */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 184, ../../app/styles/diestrin/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 189, ../../app/styles/diestrin/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 194, ../../app/styles/diestrin/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 199, ../../app/styles/diestrin/_normalize.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 203, ../../app/styles/diestrin/_normalize.scss */
hr {
  width: 100%;
  border-width: 0;
  position: relative;
  border-bottom: 2px dotted gray;
  color: gray;
}
/* line 210, ../../app/styles/diestrin/_normalize.scss */
hr:before, hr:after {
  font-size: 0.5em;
  position: absolute;
  top: -14px;
}
/* line 216, ../../app/styles/diestrin/_normalize.scss */
hr:before {
  content: ">";
  left: -2px;
}
/* line 221, ../../app/styles/diestrin/_normalize.scss */
hr:after {
  content: "<";
  right: -2px;
}

/* line 229, ../../app/styles/diestrin/_normalize.scss */
ul.fancy li {
  margin-left: -10px;
}
/* line 232, ../../app/styles/diestrin/_normalize.scss */
ul.fancy li:before {
  font-size: 0.6em;
  content: "<+>";
  margin-left: -10px;
  vertical-align: text-top;
}

/* line 8, ../../app/styles/diestrin/_global.scss */
body {
  font-family: sans-serif;
  font-size: 100%;
  min-height: 740px;
  background: #d7d7d7 -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #f0f0f0), color-stop(100%, #bebebe));
  background: #d7d7d7 -webkit-radial-gradient(50% 50%, #f0f0f0, #bebebe);
  background: #d7d7d7 -moz-radial-gradient(50% 50%, #f0f0f0, #bebebe);
  background: #d7d7d7 -o-radial-gradient(50% 50%, #f0f0f0, #bebebe);
  background: #d7d7d7 radial-gradient(50% 50%, #f0f0f0, #bebebe);
}
/* line 15, ../../app/styles/diestrin/_global.scss */
body aside {
  position: absolute;
  bottom: 0px;
  right: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 22, ../../app/styles/diestrin/_global.scss */
body aside span {
  margin: 15px;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  font-family: Helvetica;
  line-height: 3em;
  vertical-align: bottom;
}
/* line 32, ../../app/styles/diestrin/_global.scss */
body aside img {
  margin: 0 15px 15px 0;
}
/* line 38, ../../app/styles/diestrin/_global.scss */
body.impress-on-angular aside {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 45, ../../app/styles/diestrin/_global.scss */
body #menu ul li {
  border: 5px solid gray;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  width: 220px;
}

/* line 10, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.root .root-footer {
  height: 72px;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 72px;
}

/* line 11, ../../app/styles/diestrin/_step.scss */
.step {
  font-family: georgia, serif;
  font-size: 3em;
  line-height: 1.5;
  margin: 0;
  padding: 40px;
  position: relative;
  width: 900px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 1s, background-color 1s;
  -moz-transition: opacity 1s, background-color 1s;
  -o-transition: opacity 1s, background-color 1s;
  transition: opacity 1s, background-color 1s;
}
/* line 25, ../../app/styles/diestrin/_step.scss */
.step .root-content {
  height: 570px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
/* line 33, ../../app/styles/diestrin/_step.scss */
.step header, .step footer {
  position: relative;
  z-index: 100;
  width: 100%;
  font-size: 0.8em;
  font-family: Helvetica;
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 500px 0px -500px;
  -moz-transform-origin: 500px 0px -500px;
  -ms-transform-origin: 500px 0px -500px;
  -o-transform-origin: 500px 0px -500px;
  transform-origin: 500px 0px -500px;
}
/* line 47, ../../app/styles/diestrin/_step.scss */
.step.present {
  background-color: rgba(240, 240, 240, 0.8);
}
/* line 50, ../../app/styles/diestrin/_step.scss */
.step.present header, .step.present footer {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* line 56, ../../app/styles/diestrin/_step.scss */
.step header {
  background-color: #b62f33;
  color: #eeeeee;
  padding-left: 150px;
  left: -150px;
  -webkit-transform: rotateY(-80deg);
  -moz-transform: rotateY(-80deg);
  -ms-transform: rotateY(-80deg);
  -o-transform: rotateY(-80deg);
  transform: rotateY(-80deg);
  -webkit-box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.4);
}
/* line 65, ../../app/styles/diestrin/_step.scss */
.step footer {
  background-color: #eeeeee;
  color: transparent;
  background-image: url("../images/angular_logo.png"), url("../images/digitas_logo.png"), url("../images/bosz_logo.png");
  background-size: 65px, 60px, 55px;
  background-position: 5% 5px, 50% 5px, 95% 5px;
  background-repeat: no-repeat;
  padding-right: 150px;
  text-align: right;
  -webkit-box-shadow: -10px -10px 6px -3px rgba(0, 0, 0, 0.4), 1px 1px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -10px -10px 6px -3px rgba(0, 0, 0, 0.4), 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: -10px -10px 6px -3px rgba(0, 0, 0, 0.4), 1px 1px 6px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotateY(80deg);
  -moz-transform: rotateY(80deg);
  -ms-transform: rotateY(80deg);
  -o-transform: rotateY(80deg);
  transform: rotateY(80deg);
}
/* line 81, ../../app/styles/diestrin/_step.scss */
.step.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 85, ../../app/styles/diestrin/_step.scss */
.impress-on-angular .step {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 89, ../../app/styles/diestrin/_step.scss */
.step#angular {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 92, ../../app/styles/diestrin/_step.scss */
.impress-on-angular .step#angular {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 3, ../../app/styles/diestrin/_chapter1.scss */
#intro .root-content {
  text-align: justify;
}
/* line 6, ../../app/styles/diestrin/_chapter1.scss */
#intro .root-content em {
  font-size: 1.3em;
}
/* line 10, ../../app/styles/diestrin/_chapter1.scss */
#intro .root-content strong {
  font-size: 1.4em;
}

/* line 15, ../../app/styles/diestrin/_chapter1.scss */
#the-need .root-content {
  font-size: 0.7em;
}

/* line 21, ../../app/styles/diestrin/_chapter1.scss */
#other-frame .root-content li a {
  color: gray;
  border-bottom: 1px dotted;
}
/* line 25, ../../app/styles/diestrin/_chapter1.scss */
#other-frame .root-content li a:hover {
  color: black;
}

/* line 32, ../../app/styles/diestrin/_chapter1.scss */
#html-vs-angular .root-content {
  font-size: 0.55em;
}
/* line 38, ../../app/styles/diestrin/_chapter1.scss */
#html-vs-angular .root-content ul li:nth-child(odd):before {
  content: "* ";
}
/* line 43, ../../app/styles/diestrin/_chapter1.scss */
#html-vs-angular .root-content ul li:nth-child(even) {
  margin-bottom: 20px;
}
/* line 44, ../../app/styles/diestrin/_chapter1.scss */
#html-vs-angular .root-content ul li:nth-child(even):before {
  content: "+ ";
}
/* line 53, ../../app/styles/diestrin/_chapter1.scss */
#html-vs-angular .root-content hr:before, #html-vs-angular .root-content hr:after {
  top: -9px;
}

/* line 59, ../../app/styles/diestrin/_chapter1.scss */
#living-together .root-content {
  font-size: 0.7em;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
/* line 63, ../../app/styles/diestrin/_chapter1.scss */
#living-together .root-content sub {
  font-size: 50%;
  line-height: inherit;
}

/*\***************\*/
/* line 75, ../../app/styles/diestrin/_chapter1.scss */
#initialization .root-content {
  font-size: 0.6em;
}

/* line 79, ../../app/styles/diestrin/_chapter1.scss */
#initialization-storage .root-content {
  font-size: 0.7em;
}

/* line 83, ../../app/styles/diestrin/_chapter1.scss */
#initialization-auto .root-content {
  font-size: 0.75em;
}
/* line 86, ../../app/styles/diestrin/_chapter1.scss */
#initialization-auto .root-content pre {
  font-size: 0.8em;
}

/* line 91, ../../app/styles/diestrin/_chapter1.scss */
#initialization-manual .root-content {
  font-size: 0.65em;
}

/* line 95, ../../app/styles/diestrin/_chapter1.scss */
#initialization-uses .root-content {
  font-size: 0.8em;
}

/*\***************\*/
/* line 105, ../../app/styles/diestrin/_chapter1.scss */
#templates .root-content {
  font-size: 0.9em;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
/* line 110, ../../app/styles/diestrin/_chapter1.scss */
#templates .root-content sub {
  font-size: 50%;
  line-height: inherit;
}

/* line 117, ../../app/styles/diestrin/_chapter1.scss */
#templates-types .root-content {
  font-size: 0.5em;
}
/* line 120, ../../app/styles/diestrin/_chapter1.scss */
#templates-types .root-content li {
  margin: 1.2em 0;
}

/* line 125, ../../app/styles/diestrin/_chapter1.scss */
#templates-expressions .root-content {
  font-size: 0.8em;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
/* line 130, ../../app/styles/diestrin/_chapter1.scss */
#templates-expressions .root-content sub {
  font-size: 50%;
  line-height: inherit;
}

/* line 136, ../../app/styles/diestrin/_chapter1.scss */
#chapter-1-practice .root-content {
  font-size: 0.5em;
}
/* line 139, ../../app/styles/diestrin/_chapter1.scss */
#chapter-1-practice .root-content a {
  color: #333;
  border-bottom: 1px dotted;
}
/* line 143, ../../app/styles/diestrin/_chapter1.scss */
#chapter-1-practice .root-content a:hover {
  color: black;
}
/* line 149, ../../app/styles/diestrin/_chapter1.scss */
#chapter-1-practice .root-content code {
  font-size: 0.8em;
}

/*\***************\*/
/*\***************\*/
/* line 3, ../../app/styles/diestrin/_chapter2.scss */
#controller .root-content {
  font-size: 0.7em;
}

/* line 7, ../../app/styles/diestrin/_chapter2.scss */
#scope .root-content {
  font-size: 0.8em;
}

/* line 11, ../../app/styles/diestrin/_chapter2.scss */
#controller-scope .root-content {
  font-size: 0.5em;
}

/* line 15, ../../app/styles/diestrin/_chapter2.scss */
#scope-globally .root-content {
  font-size: 0.7em;
}

/* line 19, ../../app/styles/diestrin/_chapter2.scss */
#controller-html .root-content {
  font-size: 0.6em;
}

/* line 23, ../../app/styles/diestrin/_chapter2.scss */
#scope-template .root-content {
  font-size: 0.5em;
}

/* line 27, ../../app/styles/diestrin/_chapter2.scss */
#scope-data-binding .root-content {
  font-size: 0.6em;
}

/* line 1, ../../app/styles/diestrin/_chapter3.scss */
#services .root-content {
  font-size: 0.6em;
}

/* line 5, ../../app/styles/diestrin/_chapter3.scss */
#services-declaration .root-content {
  font-size: 0.5em;
}

/* line 9, ../../app/styles/diestrin/_chapter3.scss */
#services-implementation .root-content {
  font-size: 0.5em;
}

/* line 13, ../../app/styles/diestrin/_chapter3.scss */
#dependency-manager .root-content {
  font-size: 0.45em;
}

/* line 17, ../../app/styles/diestrin/_chapter3.scss */
#services-angular .root-content {
  font-size: 0.8em;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}

/*#services-angular .root-content{
  font-size: 0.8em;
  @include align-items(flex-start);
}*/
/* line 5, ../../app/styles/diestrin/_chapter4.scss */
#directives .root-content {
  font-size: 0.45em;
}
/* line 8, ../../app/styles/diestrin/_chapter4.scss */
#directives .root-content pre {
  font-size: 1.2em;
}

/* line 13, ../../app/styles/diestrin/_chapter4.scss */
#directives-create {
  font-size: 1.1em;
  width: 1400px;
  padding: 0 0 0 10px;
}
/* line 18, ../../app/styles/diestrin/_chapter4.scss */
#directives-create pre {
  background-color: #FFF;
}

/* line 23, ../../app/styles/diestrin/_chapter4.scss */
#directives-call .root-content {
  font-size: 0.6em;
}
/* line 28, ../../app/styles/diestrin/_chapter4.scss */
#directives-call .root-content ul > li > ul {
  margin-left: 50px;
}

/* line 35, ../../app/styles/diestrin/_chapter4.scss */
#directives-angular .root-content {
  font-size: 0.8em;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}
/* line 39, ../../app/styles/diestrin/_chapter4.scss */
#directives-angular .root-content ul {
  margin-left: 20px;
}

/* line 44, ../../app/styles/diestrin/_chapter4.scss */
#filters .root-content {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  font-size: 0.65em;
}
/* line 48, ../../app/styles/diestrin/_chapter4.scss */
#filters .root-content ul {
  margin-left: 20px;
}
