// SCOPE - START

#controller .root-content{
	font-size: 0.7em;
}

#scope .root-content{
	font-size: 0.8em;
}

#controller-scope .root-content{
	font-size: 0.5em;
}

#scope-globally .root-content{
	font-size: 0.7em;
}

#controller-html .root-content{
	font-size: 0.6em;
}

#scope-template .root-content{
	font-size: 0.5em;
}

#scope-data-binding .root-content{
	font-size: 0.6em;
}
// SCOPE - END